.logo {
  float: left;
  font-size: 160%;
  line-height: 105%;
  min-height: 110px;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .container {
    width: 100%!important;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 100%!important;
  }
}

.header section {
  min-height: 100px!important;
}

@media screen and (max-width: 639px) {
  .logo .emblem img {
    height: auto !important;
    width: 76px;
  }
}

.float-element {
  float: left;
  margin-left: 12px;
}

.right-content {
  float: right!important;
  margin-top: 10px;
}

.logo a {
  text-decoration: none!important;
}

.layout-main-wrapper>.layout-main {
  padding-left: 20px!important;
  padding-right: 20px!important;
}
