.logo {
  float: left;
  font-size: 30px;
  line-height: 105%;
  min-height: 110px;
  padding: 10px 0 0 10px;
  position: relative;
  margin-bottom: 10px;
}

.float-element {
  float: left;
  margin-left: 12px;
}

.right-content {
  float: right!important;
  margin-top: 10px;
}

.logo a {
  text-decoration: none!important;
}

.layout-main-wrapper>.layout-main {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.site_name_regional {
  color: black;
  font-size: 30px;
}

.header-container {
  padding: 14px;
}

h1.page-title {
  font-weight: bold;
  font-family: none;
}

.logo a h1 {
  display: block;
  font-weight: inherit;
  font-size: 18px;
  color: black;
  font-weight: 300;
  font-family: inherit;
  margin-top: 5px;
}

.strong.site-name {
  font-size: 30px;
}

strong.site-name {
  color: black;
}

.menu-icon-open {
  position: relative;
  right: 15px;
  font-size: 30px;
  top: 25px;
  text-align: right;
  display: none;
}

@media screen and (max-width: 639px) {
  .logo .emblem img {
    width: 45px;
  }
  .header-container {
    padding: 5px;
  }
  .logo {
    padding: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
  .site-name {
    font-size: 25px;
  }
  .logo .site_text {
    display: inline-block;
    vertical-align: middle;
    margin: 18px 0 0 0px;
  }
  .logo a h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .menu-icon-open {
    display: block;
  }
  .region.region-slider {
    border-top: 1px solid #c2c2c2;
  }
  header#header {
    background: #fff;
  }
}
