.highlighted {
  padding-top: 50px;
}

.region-highlighted>div>.col-sm-2>.list-text {
  color: #000;
  padding: 20px;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
