/**
 * @file
 * Styles for menus in S3WaaS.
 */


/* This is needed to override ul.menu styles in menu.theme.css */

ul.menu {
  margin: 0;
  padding: 0;
}


/* This is needed to override [dir="rtl"] ul.menu styles in menu.theme.css */

[dir="rtl"] ul.menu {
  margin: 0;
}

#cssmenu ul {
  z-index: 10!important;
}

.main-menu>div>div>div,
.user-menu>div>div>div {
  padding: 10px;
}

.main-menu>div>div>div>a>span,
.user-menu>div>div>div>a>span {
  color: #fff;
}

.sf-accordion-toggle.sf-style-none {
  font-weight: bold;
}

#block-useraccountmenu>.sf-accordion-toggle.sf-style-none {
  padding: 10px;
  font-weight: bold;
}

.sf-accordion-toggle.sf-style-none:hover,
.sf-accordion-toggle.sf-style-none:active {
  text-decoration: none;
}
