.public_utils>span.public_util_name {
  font-weight: bold;
  font-size: 15px;
  position: relative;
}

.public_utils>span.counter {
  font-weight: bold;
  padding: 4px;
  border-radius: 20px;
  min-height: 25px;
  min-width: 40px;
  text-align: center;
  vertical-align: middle;
}

.public_utils>span.counter>a {
  color: inherit;
}

.public_utils>span.counter>a:hover {
  text-decoration: none;
}

.public_utils {
  padding: 15px;
}

.quick-links>ul {
  padding-left: 20px!important;
}

.helpline-number {
  border: 1px solid #e2e2e2;
  background: #fff;
  padding: 5px;
  /* padding: 10px; */
  margin-top: 10px;
  /* min-height: 85px!important; */
  /* padding-top: 15px; */
}

.helpline-number .head {
  font-size: 13px;
}

.helpline-number div.number {
  font-size: 25px;
  font-weight: bold;
}

.region-utilities>div.row>div>h4,
.region-utilities>div>div>div.row>div>h4 {
  font-size: 22px;
  font-weight: bold;
}

.quick-links>ul>li>a,
.quick-links>ul>li>ul>li>a {
  font-size: 15px;
  color: #000;
}

.quick-links>ul>li {
  padding-top: 10px;
}

.quick-links>ul>li>a:hover,
.quick-links>ul>li>ul>li>a:hover {
  font-size: 15px;
  text-decoration: none;
}

.region-utilities>div>div>div.row>div.col-md-6>h4,
.region-utilities>div>div>div.row>div.col-md-5>h4,
.region-utilities>div>div>div.row>div.col-md-3>h4,
.region-utilities>div.row>div.col-md-6>h4,
.region-utilities>div.row>div.col-md-5>h4,
.region-utilities>div.row>div.col-md-3>h4 {
  background: #6275dc;
  color: white;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #2b356f;
  /* border-top: 2px solid #2b356f; */
  /* border-right: 2px solid #2b356f; */
}

.region-utilities>div.row>div.col-md-6>div.row,
.region-utilities>div.row>div.col-md-5>div.row,
.region-utilities>div.row>div.col-md-3>div.row,
.region-utilities>div>div>div.row>div.col-md-6>div.row,
.region-utilities>div>div>div.row>div.col-md-5>div.row,
.region-utilities>div>div>div.row>div.col-md-3>div.row,
.region-utilities>div.row>div.col-md-3>ul,
.region-utilities>div>div>div.row>div.col-md-3>ul {
  background: #fdfdfd;
  padding: 5px;
  min-height: 280px;
  padding-top: 15px;
  /* padding-left: 20px; */
  margin: 0px;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  /* box-shadow: 0px 25px 35px -31px #31333e; */
}


/* .quick-links>ul>li {
  margin-left: 15px;
} */

.region-utilities {
  margin-bottom: 30px;
}


/*,
/*.region-utilities>div>div>ul>li>ul*/

.region-utilities>div.row>div.col-md-3>ul,
.region-utilities>div>div>div.row>div.col-md-3>ul {
  list-style: none;
}


/* .region-utilities>div>div>ul>li>ul {
  padding-left: 15px;
} */

.region-utilities>div.row>div.col-md-3>ul>li:before,
.region-utilities>div>div>div.row>div.col-md-3>ul>li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.region-utilities>div.row>div.col-md-3>ul>li>ul,
.region-utilities>div>div>div.row>div.col-md-3>ul>li>ul {
  list-style: none;
  padding-left: 20px;
}

.region-utilities>div>div.col-md-3>ul>li>ul>li:before,
.region-utilities>div>div>div>div.col-md-3>ul>li>ul>li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.col-md-5.helpline-number {
  margin: 10px;
  width: 45%;
}


/*
div.region.region-utilities>div.row>div.col-md-6>div.row>div.col-md-5>span.counter:before {
  border: 1px solid black;
} */
