.heading1 {
  font-size: 1.9em;
}

h2,
.heading2 {
  font-size: 1.7em;
}

h3,
.heading3 {
  font-size: 1.5em;
}

h4,
.heading4 {
  font-size: 1.3em;
}

h5,
.heading5 {
  font-size: 1.1em;
}

h6,
.heading6 {
  font-size: 1em;
}

.link {
  color: #0042bf !important;
}

p a,
table a {
  color: #1c7acb;
}

p a:hover,
table a:hover {
  text-decoration: underline;
}

p a.button:hover,
p a.is-info:hover,
table a.button:hover,
table a.is-info:hover {
  text-decoration: none;
}

.mr-left-none {
  margin-left: 0 !important;
}

.mr-top-none {
  margin-top: 0 !important;
}

.mr-bottom-none {
  margin-bottom: 0 !important;
}

.mr-right-none {
  margin-right: 0 !important;
}

.mr-none {
  margin: 0 !important;
}

.pd-left-none {
  padding-left: 0 !important;
}

.pd-top-none {
  padding-top: 0 !important;
}

.pd-bottom-none {
  padding-bottom: 0 !important;
}

.pd-right-none {
  padding-right: 0 !important;
}

.pd-none {
  padding: 0 !important;
}

.mr-top5 {
  margin-top: 5px !important;
}

.mr-top7 {
  margin-top: 7px !important;
}

.mr-top10 {
  margin-top: 10px !important;
}

.mr-top15 {
  margin-top: 15px !important;
}

.mr-right5 {
  margin-right: 5px !important;
}

.mr-right7 {
  margin-right: 7px !important;
}

.mr-right10 {
  margin-right: 10px !important;
}

.mr-right15 {
  margin-right: 15px !important;
}

.mr-bottom5 {
  margin-bottom: 5px !important;
}

.mr-bottom7 {
  margin-bottom: 7px !important;
}

.mr-bottom10 {
  margin-bottom: 10px !important;
}

.mr-bottom15 {
  margin-bottom: 15px !important;
}

.mr-left5 {
  margin-left: 5px !important;
}

.mr-left7 {
  margin-left: 7px !important;
}

.mr-left10 {
  margin-left: 10px !important;
}

.mr-left15 {
  margin-left: 15px !important;
}

.pd-top5 {
  padding-top: 5px !important;
}

.pd-top7 {
  padding-top: 7px !important;
}

.pd-top10 {
  padding-top: 10px !important;
}

.pd-top15 {
  padding-top: 15px !important;
}

.pd-right5 {
  padding-right: 5px !important;
}

.pd-right7 {
  padding-right: 7px !important;
}

.pd-right10 {
  padding-right: 10px !important;
}

.pd-right15 {
  padding-right: 15px !important;
}

.pd-bottom5 {
  padding-bottom: 5px !important;
}

.pd-bottom7 {
  padding-bottom: 7px !important;
}

.pd-bottom10 {
  padding-bottom: 10px !important;
}

.pd-bottom15 {
  padding-bottom: 15px !important;
}

.pd-left5 {
  padding-left: 5px !important;
}

.pd-left7 {
  padding-left: 7px !important;
}

.pd-left10 {
  padding-left: 10px !important;
}

.pd-left15 {
  padding-left: 15px !important;
}

.off-css {
  display: none !important;
}

#topBar #accessibility ul li .socialIcons,
#topBar1 #accessibility ul li .socialIcons {
  z-index: 99;
}

.carasoleflex-wrap .flexslider .slides>li a,
.flexslider .slides>li a {
  display: inline-block;
}

.home-slider.flexslider .slides>li a {
  display: block;
  width: 100%;
}

.flexslider .slides>li {
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.logo {
  padding: 0;
}

.logo a {
  float: none;
  top: 0;
  margin-top: 0px !important;
  display: inline-block;
  vertical-align: middle;
}

.logo a:hover {
  color: inherit;
}

.logo .emblem {
  position: inherit;
  float: none;
  display: inline-block;
  margin-top: 0;
}

.logo .emblem img {
  height: 100px !important;
}

.logo .logo-text {
  display: inline-block;
  vertical-align: top;
  margin: 25px 0 0 10px;
}

.row h1 {
  font-size: 2em;
}

#footer {
  margin-top: 35px;
}

.no_padding {
  padding: 0 0px;
}

.socialBox ul li .icon-share {
  color: #0687c9;
}


/*-----------*/


/* caption {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  background: #444;
  padding: 8px;
} */

caption h2,
caption>h3,
caption>h4,
caption .heading4 {
  padding: 0;
  font-size: inherit !important;
}

.flex-direction-nav li,
.flex-direction-nav li:hover {
  list-style-type: none;
  padding-bottom: 0;
}

.govBranding li a,
.events-wrapper .event-title {
  color: #333;
}

.logo a h1 {
  display: block;
  font-weight: inherit;
  font-size: 18px;
  color: black;
  font-weight: 300;
  font-family: inherit;
}

.breadcrumb-outer span.icon-facebook {
  color: #3b5998;
}

.breadcrumb-outer span.icon-twitter {
  color: #1da1f2;
}

.share-text {
  vertical-align: middle;
  display: inline-block;
}

.share-text em {
  font-size: 1.6em;
  color: #a0a0a0;
}

.nav ul {
  top: 100%;
}

.bg-white label {
  color: #363636 !important;
  font-weight: 600;
}

header {
  font-size: 14px;
}

.gen-tab .resp-tabs-list {
  padding-left: 0 !important;
  margin-bottom: 0;
}

.gen-list.no-list ul {
  padding-left: 0 !important;
}

#topBar1 #accessibility ul li a.change-language {
  font-size: 0.8em;
  padding: 9px 8px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 1px solid #d8d8d8;
  border-left: none;
  left: inherit;
  right: 0;
}

#topBar1 #accessibility ul li a.skip-to-content {
  font-size: 0.8em;
  padding: 9px 8px;
}

#topBar1 #accessibility ul li a.skip-to-content .responsive-show {
  font-size: 1.25em;
}

#topBar1 #accessibility ul li .socialIcons.select-lang {
  width: inherit;
  background: #fff;
  left: inherit;
  right: 0;
}

#topBar1 #accessibility ul li .socialIcons.select-lang a {
  padding: 8px 15px;
  font-size: 0.8em;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

#topBar1 #accessibility ul li .socialIcons.select-lang a:hover {
  color: #000;
}

.push-center {
  margin: 0 auto !important;
}

.galleryCatagotyIcons {
  padding-bottom: 10px;
}

.flex-direction-nav a {
  font-size: 0;
}

.aboutDictict {
  padding: 25px;
}

.photo-glry-cntr ol li {
  padding-bottom: 0;
}

.full-cntrl-right-caption-left .flex-pauseplay a,
.full-cntrl-left-caption-right .flex-pauseplay a {
  bottom: 26px !important;
}

.img-responsive {
  display: inline-block;
}

.socialBox ul {
  padding-left: 0;
}

.socialBox ul li {
  display: inline-block;
  padding-right: 7px;
  list-style-type: none;
  padding-bottom: 0;
}

#topBar1 #accessibility ul li .socialIcons {
  background: #fff;
}

#topBar1 #accessibility ul li .socialIcons ul li.current-lang {
  display: none;
}

.flexslider {
  background: none !important;
  border-radius: 0 !important;
}

#topBar1 #accessibility ul li {
  float: left;
}

#topBar #accessibility ul li,
#topBar .govBranding ul li {
  float: left;
}

#topBar1 .govBranding ul li a {
  padding: 9px 10px;
}


/*#topBar1 #accessibility ul li a{ font-size: 1.35em;}*/

#topBar1 #accessibility ul li a img {
  display: block;
}


/*#topBar1 #accessibility ul li .textSizing { float: left; padding: 5px;}*/

.footerlogocarousel .flexslider .slides img {
  width: auto;
  max-width: 100%;
}

.flex-pauseplay a {
  height: 27px !important;
}

#topBar1 #accessibility ul li .socialIcons.select-lang ul li {
  width: 100%;
}

#footer2 .footerMenu ul li a,
#footer1 .footerMenu ul li a,
#footer2 .copyRights .copyRightsText {
  color: #fff;
}

.breadcrumb-outer {
  padding: 0 15px;
}

#overflowMenu {
  width: 300px;
  overflow-y: auto;
}

.full-cntrl-center-caption-bottom .container .slide-caption h2 {
  font-size: 1.3em;
}

.home-slider.full-cntrl-center-caption-bottom .slide-caption p {
  text-align: center !important;
}


/*page scroll progress and scroll to top start*/

.copyRights .copyRightsLogos a.stqc-logo {
  position: absolute;
  bottom: 7px;
  right: 14%;
}

.home-slider.flexslider .container {
  max-width: inherit !important;
}

#footer .copyRights .copyRightsText {
  width: auto;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.margin-bottom-medium {
  margin-bottom: 15px !important;
}

.margin-bottom-big {
  margin-bottom: 30px !important;
}

.padding-bottom-medium {
  padding-bottom: 15px !important;
}

.padding-bottom-big {
  padding-bottom: 30px !important;
}

.aboutDictict h3,
.aboutDictict h2 {
  font-size: 1.5em;
}

.full-width {
  width: 100% !important;
}

.slide-caption p {
  padding: 0 !important;
}

#topBar1 #accessibility ul li .socialIcons {
  width: 40px;
}


/*page scroll progress and scroll to top end*/

@media screen and (min-width: 1285px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1024px) {
  table#gallexy-of-collectors {
    margin: 0 auto;
    width: 50% !important;
  }
}

@media (min-width: 640px) {
  .nav ul li:last-child:hover ul.show-menu,
  .nav ul li:nth-last-child(2):hover ul.show-menu {
    left: 100%;
    right: inherit;
  }
}

#topBar #accessibility ul li a.mobile-show,
#topBar1 #accessibility ul li a.mobile-show,
.mobile-show {
  display: none;
}

#topBar1 #accessibility ul li .textSizing {
  padding: 4px 0;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 940px) {
  body {
    overflow-x: hidden;
  }
  #topBar #accessibility ul li a.mobile-show,
  #topBar #accessibility ul li .mobile-show,
  #topBar1 #accessibility ul li a.mobile-show,
  #topBar1 #accessibility ul li .mobile-show {
    display: inherit;
  }
  #topBar #accessibility ul li a.accessible-icon,
  #topBar1 #accessibility ul li a.accessible-icon {
    padding: 4px 7px;
  }
  #topBar #accessibility ul li .accessiblelinks,
  #topBar1 #accessibility ul li .accessiblelinks {
    display: none;
    position: absolute;
    width: 45px;
    background: #fff;
    left: 0;
    z-index: 9;
    padding: 0 !important;
    border: 1px solid #d8d8d8;
    border-top: none;
  }
  #topBar #accessibility ul li .accessiblelinks ul li,
  #topBar1 #accessibility ul li .accessiblelinks ul li {
    margin: 0 !important;
    float: none !important;
    width: 100% !important;
  }
  #topBar #accessibility ul li .accessiblelinks ul li a,
  #topBar1 #accessibility ul li .accessiblelinks ul li a {
    padding: 7px 0 !important;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    border-radius: 0;
  }
  #topBar #accessibility ul li .accessiblelinks ul li.highContrast.dark a,
  #topBar #accessibility ul li .accessiblelinks ul li.highContrast.light a,
  #topBar1 #accessibility ul li .accessiblelinks ul li.highContrast.dark a,
  #topBar1 #accessibility ul li .accessiblelinks ul li.highContrast.light a {
    display: inline-block;
    width: 33px;
    height: 27px;
    line-height: 22px;
    border: 2px solid #fff !important;
    margin: 5px 0;
    padding: 0 !important;
    font-size: 14px;
  }
  #topBar #accessibility ul li .accessiblelinks ul li.highContrast.dark,
  #topBar1 #accessibility ul li .accessiblelinks ul li.highContrast.dark {
    background-color: #000;
  }
  #topBar #accessibility ul li .accessiblelinks ul li.highContrast.light a,
  #topBar1 #accessibility ul li .accessiblelinks ul li.highContrast.light a {
    border-color: #000 !important;
  }
  #topBar1 .govBranding,
  #topBar .govBranding {
    display: inherit !important;
  }
  #topBar1 .container>.push-left,
  #topBar .container>.push-left {
    width: 100%;
  }
  #topBar1 .container>.push-left .govBranding,
  #topBar .container>.push-left .govBranding {
    border-top: 1px solid #ddd;
    text-align: center;
  }
  #topBar1 .container>.push-right,
  #topBar .container>.push-right {
    width: 100%;
    text-align: center;
  }
  #topBar1 .container>.push-right #accessibility ul li,
  #topBar .container>.push-right #accessibility ul li,
  #topBar #accessibility ul li {
    float: none;
  }
  #topBar1 #accessibility ul li:first-child,
  #topBar #accessibility ul li a.skip-to-content {
    border-left: none;
  }
  #topBar1 #accessibility ul li:first-child a,
  #topBar #accessibility ul li a.skip-to-content {
    padding-left: 0;
  }
  #topBar1 #accessibility ul li:last-child,
  #topBar #accessibility ul li:last-child,
  #topBar1 #accessibility ul li a.change-language,
  #topBar #accessibility ul li a.change-language {
    border-right: none !important;
    padding-right: 0;
  }
  #topBar1 #accessibility ul li:last-child a,
  #topBar #accessibility ul li:last-child a {
    padding-right: 0;
  }
  #topBar1 #accessibility ul li a.change-language,
  #topBar #accessibility ul li a.change-language {
    border-right: none;
  }
  #topBar1 #accessibility ul li .textSizing li,
  #topBar #accessibility ul li .textSizing li {
    float: left !important;
  }
  #topBar1 #accessibility {
    display: block;
  }
  /*#topBar1 #accessibility ul li, #topBar #accessibility ul li{ margin: 0 0 0 -4px;}*/
  #topBar1 #accessibility ul li li,
  #topBar #accessibility ul li li {
    margin: 0 0 0 0;
  }
  /*#topBar1 #accessibility ul li .textSizing li{ margin-left: 3px;}*/
  #topBar .govBranding ul,
  #topBar1 .govBranding ul {
    position: relative;
    float: left;
    width: 100%;
  }
  #topBar .govBranding ul:after,
  #topBar1 .govBranding ul:after {
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    left: 50%;
    top: 0;
    bottom: 0;
  }
  #topBar .govBranding ul li,
  #topBar1 .govBranding ul li {
    width: calc(50% - 2px);
    border: none !important;
  }
  .logo .emblem,
  .logo .emblem img {
    width: inherit;
  }
}

@media screen and (max-width: 800px) {
  p img {
    max-width: 100%;
  }
  .full-cntrl-bottom-caption-bottom .flex-pauseplay a {
    bottom: 12%;
  }
}

@media screen and (max-width: 768px) {
  .flex-direction-nav,
  .flex-pauseplay {
    display: none !important;
  }
  .logo a strong {
    font-size: 85% !important;
  }
  .logo a h1 {
    font-size: 100% !important;
  }
  .logo .logo-text {
    margin-top: 20px;
  }
  #topBar1 #accessibility ul li a.change-language {
    padding: 9px 4px !important;
  }
  .full-cntrl-bottom-caption-bottom .container .slide-caption {
    padding-bottom: 15px !important;
  }
  table.bt tfoot th:before,
  table.bt tfoot td:before,
  table.bt tbody td:before {
    width: 15em;
  }
  .menuToggle {
    cursor: pointer;
  }
  .menuToggle span.menu-text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #topBar1 .govBranding ul li a,
  #topBar .govBranding ul li a {
    padding: 5px;
  }
  table tbody tr:nth-child(even) td {
    background: #f2f2f2 !important;
  }
}

@media screen and (max-width: 640px) {
  .sw-logo {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .slide-caption h3,
  .slide-caption .heading3 {
    font-size: 1.3em;
  }
  .logo a span {
    font-size: 100%;
  }
  /*#topBar1 #accessibility ul li .textSizing ul li a{ padding: 4px 5px;}*/
  #topBar1 #accessibility ul li a.change-language {
    border-right: none;
  }
  table.bt tfoot th::before,
  table.bt tfoot td::before,
  table.bt tbody td::before {
    width: 40%;
    padding-right: 12px;
  }
  .serviceSearchContainer .selectsearchContainer .field.has-addons {
    width: auto;
  }
  img.pull-right {
    padding-left: 0;
    width: 100%;
  }
  .left-content {
    float: none;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .right-content {
    float: none;
    text-align: center;
  }
  .logo .emblem {
    width: auto !important;
    padding-right: 10px;
  }
  .logo .emblem img {
    height: auto !important;
    width: 49px;
  }
  .logo .emblem {
    margin-right: 5px;
  }
  .logo a h1,
  .logo a span {
    font-weight: 600 !important;
  }
  .slide-caption h2 {
    font-size: 1.3em !important;
  }
  /*#topBar #accessibility ul li a, #topBar1 #accessibility ul li a { padding: 4px;}*/
  #footer .footerMenu ul li,
  #footer .footerMenu ul.list-style.colmn2 li,
  #footer2 .footerMenu ul li,
  #footer2 .footerMenu ul.list-style.colmn2 li {
    text-align: center;
  }
  .logo a h1 {
    padding: 0 !important;
  }
}

.show-social-links {
  padding: 4px 4px 3px !important;
}

.show-social-links .icon-social-link {
  overflow: hidden;
  padding: 2px 0 1px;
  display: block;
  position: relative;
  top: 1px;
}

.show-social-links .icon-social-link span {
  float: left;
  width: 15px;
  font-size: 10px;
  text-align: center;
}

.show-social-links .icon-social-link span.icon-youtube {
  width: 100%;
  float: none;
  display: block;
  clear: both;
  padding: 2px 0 0;
}


/*#topBar1 #accessibility ul li .textSizing ul li a{padding: 3px 6px;}*/


/*
#topBar1 #accessibility ul li.highContrast.dark a {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */


/*
#topBar1 #accessibility ul li.highContrast.light a {
  border: 1px solid #000;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  color: #000;
} */

#topBar1 #accessibility ul li .textSizing ul li:last-child {
  margin: 0;
}

#topBar1 #accessibility ul li.highContrast.dark {
  margin-right: 0 !important;
}

#topBar1 #accessibility ul li.highContrast.light {
  margin-right: 3px !important;
}

.full-cntrl-bottom-caption-right .flex-direction-nav {
  position: relative;
  left: -70px;
}

.full-cntrl-bottom-caption-right .flex-pauseplay {
  position: relative;
  left: -65px;
}

@media (max-width: 940px) {
  #topBar1 .govBranding {
    display: inherit !important;
  }
  .show-social-links {
    padding: 4px 4px 5px !important;
  }
}

@media (max-width: 1920px) {
  .flexslider.home-slider .slides img {
    /*height: 500px !important;*/
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 1600px) {
  .flexslider.home-slider .slides img {
    /* height: 450px !important; */
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 1368px) {
  .flexslider.home-slider .slides img {
    /* height: 380px !important; */
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 1280px) {
  .flexslider.home-slider .slides img {
    /* height: 370px !important; */
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 1199px) {
  .flexslider.home-slider .slides img {
    height: 300px !important;
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 991px) {
  .flexslider.home-slider .slides img {
    height: 225px !important;
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 767px) {
  .flexslider.home-slider .slides img {
    /* height: 175px !important; */
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
}

@media (max-width: 479px) {
  .flexslider.home-slider .slides img {
    /* height: auto !important; */
    width: 100%;
    height: auto;
    object-fit: inherit !important;
  }
}


/* .views-row:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.views-row:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.views-row {
  /* border: 1px solid black; */
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  padding: 20px;
  /* background: #c7d9e6;*/
  /* border: 1px solid #424242; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.views-row>article>h2>a>span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 900;
}

#block-s3waas-page-title>h1 {
  /* border-top: 1px solid black; */
  /* border-left: 1px solid black; */
  /* border-right: 1px solid black; */
  margin-bottom: 0px;
  padding: 10px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
}

ul.tabs {
  margin: 0!important;
}

.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article>h2,
.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article.node--type-forms>h2 {
  font-size: 20px;
}

.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article.node--type-forms>div>.field--type-file>.field__label,
.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article.node--type-forms>div>.field--type-file>.field__item {
  display: inline;
  padding-left: 30px;
}

.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article>.node__content>.node__links,
.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row>article.node--type-forms>div>.node__links {
  text-align: right;
}

.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row {
  background: #fdfdfd;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  margin-bottom: 5px;
}

.node__content>div>h4 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  background: #6275dc;
  color: #fff;
}

.node__content>div>h4::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0a4";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 900;
}

.thumbnail .caption {
  text-align: center;
}

div.node__content>a>img.image-style-album-photo {
  width: 100%;
}
