@import url("../colors.css");
* {
  box-shadow: none!important;
}

.view-download-forms>div>table>caption::before,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before,
.region.region-footer>nav.block.block-menu>ul.menu>li::after,
a#superfish-main-toggle>span,
div>div>div>.list-text,
.site_name_regional,
blockquote .small,
blockquote footer,
blockquote small,
strong.site-name,
.logo a h1,
a,
caption>a,
#cssmenu>ul>li>a.is-active,
span.theme-version,
span.last-update,
span.visitor-count,
td>a,
td>span>a {
  color: #ff0!important;
}

header#header,
#page,
#main-content,
.highlighted,
div#mmain-wrapper,
.utilities,
#header,
#page,
#main,
body,
.path-frontpage {
  background: #000!important;
  color: #ff0!important;
}

.region-utilities>div.row>div.col-md-6>div.row,
.region-utilities>div.row>div.col-md-5>div.row,
.region-utilities>div.row>div.col-md-3>div.row,
.region-utilities>div>div>div.row>div.col-md-6>div.row,
.region-utilities>div>div>div.row>div.col-md-5>div.row,
.region-utilities>div>div>div.row>div.col-md-3>div.row,
.region-utilities>div.row>div.col-md-3>ul,
.region-utilities>div>div>div.row>div.col-md-3>ul,
.region-utilities>div>div>div.row>div.col-md-6>h4,
.region-utilities>div>div>div.row>div.col-md-5>h4,
.region-utilities>div>div>div.row>div.col-md-3>h4,
.region-utilities>div.row>div.col-md-6>h4,
.region-utilities>div.row>div.col-md-5>h4,
.region-utilities>div.row>div.col-md-3>h4,
td,
span.highlight-circle,
.region.region-content>.views-element-container>.view.view-whats-new,
div>ul.sitemap-menu li a,
form#user-login-form,
form#user-register-form,
form#user-pass,
form,
.form-submit {
  background: #000!important;
  color: #ff0!important;
  border: 1px solid #ff0!important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
ul.sf-menu a,
ul.sf-menu span.nolink,
a#increase span,
a#decrease span,
a#normal span,
a#dark span,
table {
  border: 1px solid #ff0!important;
}

#topBar1 {
  background: #000000!important;
  color: #ff0!important;
  border-bottom: 1px solid #ff0;
}

#cssmenu>ul>li>a.is-active {
  background: #000!important;
}

.scrollToTop {
  color: #000!important;
  background: #ff0;
}

.full-cntrl-left-caption-bottom .container .slide-caption {
  color: yellow!important;
  /*background: rgba(0, 0, 0, 0.81)!important;*/
}

#menubar {
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
}

ul.tabs.primary {
  background: #000;
  border: 2px solid #ff0;
}

.tabs ul.primary li.is-active a {
  border-bottom-color: #000;
  background-color: #ff0;
  color: #000!important;
  font-weight: bold;
}

.tabs>li>a:hover {
  background: #ff0;
  color: #000;
}

input {
  border: 1px solid #000;
  background: #ff0;
  color: #000;
}

.form-submit:hover {
  background: #ff0;
  color: #000;
  border: 1px solid #000;
  outline: 1px solid #ff0;
}

.breadcrumb {
  background-color: #000!important;
  /* border: 1px solid #ff0!important; */
}

a#light {
  color: black!important;
}

.public_utils>span.counter,
.helpline-number {
  background: #000!important;
  border: 1px solid #ff0;
}

.footer-bg {
  background: #000;
}

div.footer-slider>.flex-viewport>ul>li {
  border-right: 1px solid #ff0;
  border-left: 1px solid #ff0;
}

div.footer-slider>.flex-viewport {
  border-top: 1px solid #ff0;
}

caption {
  color: #ff0;
  background: #000;
  border-top: 1px solid #ff0;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
}

.pager li>a,
.pager li>span {
  background-color: #000;
  border: 1px solid #ff0;
}

.pager li>a:hover,
.pager li>span:hover {
  background-color: #ff0;
  border: 1px solid #ff0;
  color: #000!important;
}

#menubar {
  background-color: #000000;
}

ul.menu a.is-active,
ul.menu a:hover {
  color: #0a0a0a!important;
  background: #ff0;
  font-weight: bold;
}

th {
  border: 1px solid #ff0;
  background: #ff0;
  font-weight: bold;
  color: #000;
  padding: 10px;
}


/* .content {
  border: 1px solid #ff0;
} */

#topBar1 .govBranding ul li:first-child {
  border-right: 1px solid #ff0;
}


/* .view-content {
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
}

div#block-s3waas-page-title>h1 {
  border-top: 1px solid #ff0;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
} */


/* .highlighted {
  background: #000;
  border: 1px solid #ff0;
} */

#topBar1 #accessibility ul li a.change-language {
  border-right: 1px solid #ff0;
}

.menuparent>ul,
a#light span,
.views-view-grid>.views-row>.views-col>article,
.region.region-sidebar-left,
.region.region-center,
.thumbnail {
  background: #000;
  color: #ff0;
  border: 1px solid #ff0;
}

.caption>h3,
.caption>p {
  color: #ff0;
  background: #000;
}

.flex-viewport {
  border-bottom: 1px solid #ff0;
}

.flex-direction-nav a:before,
.flex-pauseplay,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  text-shadow: -1px -1px 2px #f4ff5a !important;
  color: #fff400!important;
}

#main-wrapper>#main-content>main>section>.region.region-content>article {
  background: #000!important;
  color: #ff0!important;
  /* border: 1px solid #ff0!important; */
}

.view.view-taxonomy-term.view-id-taxonomy_term>.view-content>.views-row {
  background: #000000;
  border-radius: 5px;
  border: 1px solid #ff0;
  color: #ff0;
  outline: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.node--type-notice {
  color: #ff0;
  background: #000000;
}

blockquote {
  border-left: 5px solid #ff0;
}

div>ul.sitemap-menu li::before {
  border-left: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
}

div>ul.sitemap-menu li::after {
  border-left: 1px solid #ff0;
  border-top: 1px solid #ff0;
}

@media screen and (max-width: 767px) {
  table tbody tr:nth-child(even) td {
    background: #000000 !important;
  }
}

a#light span {
  color: black;
  background: #ff0;
}

textarea {
  color: black;
  background: #ff0;
}

.region-sidebar-left .block-views,
.region-sidebar-left .s3waas-col-block,
.region-sidebar-right .block-views,
.region-sidebar-right .s3waas-col-block,
.region-center .block-views,
.region-center .s3waas-col-block {
  background: #000;
}

.photos-album-cover>.photos-image-html>a>img,
.photos-album-right,
.photos-image-list-view {
  background: #000;
  border: 1px solid #ff0;
}
