@import url("../colors.css"); #topBar1 {
  background: #000000!important;
  color: ylow!important;
  border-bottom: 1px solid #ff0;
}

a {
  color: yellow!important;
}

header#header,
#page,
#main-content,
.highlighted,
div#mmain-wrapper,
.utilities,
#header,
#page,
#main,
body,
.path-frontpage {
  background: #000000!important;
  color: yellow!important;
}

.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  color: yellow!important;
}

#cssmenu>ul>li>a.is-active {
  background: #000000!important;
}

#cssmenu>ul>li>a.is-active {
  color: yellow!important;
}

.scrollToTop {
  color: #000!important;
  background: #ff0;
}

span.theme-version,
span.last-update,
span.visitor-count {
  color: #ff0!important;
}

.full-cntrl-left-caption-bottom .container .slide-caption {
  color: yellow!important;
  /*background: rgba(0, 0, 0, 0.81)!important;*/
}

#menubar {
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
}

form#user-login-form,
form#user-register-form,
form#user-pass {
  background: #000;
  border: 2px solid #ff0;
}

ul.tabs.primary {
  background: #000;
  border: 2px solid #ff0;
}

.tabs ul.primary li.is-active a {
  border-bottom-color: #000;
  background-color: #ff0;
  color: #000!important;
  font-weight: bold;
}

.tabs>li>a:hover {
  background: #ff0;
  color: #000;
}

input {
  border: 1px solid #000;
  background: #ff0;
  color: #000;
}

.form-submit {
  background: #000;
  color: #ff0;
  border: 1px solid #ff0;
}

.form-submit:hover {
  background: #ff0;
  color: #000;
  border: 1px solid #000;
  outline: 1px solid #ff0;
}

.breadcrumb {
  background-color: #000!important;
  /* border: 1px solid #ff0!important; */
}

a#light {
  color: black!important;
}

.region-highlighted>div>.col-sm-2>.list-text {
  color: #ff0;
}

.public_utils>span.counter,
.helpline-number {
  background: #000!important;
  border: 1px solid #ff0;
}

.region-utilities>div.row>div.col-md-6>div.row,
.region-utilities>div.row>div.col-md-5>div.row,
.region-utilities>div.row>div.col-md-3>div.row,
.region-utilities>div>div>div.row>div.col-md-6>div.row,
.region-utilities>div>div>div.row>div.col-md-5>div.row,
.region-utilities>div>div>div.row>div.col-md-3>div.row,
.region-utilities>div.row>div.col-md-3>ul,
.region-utilities>div>div>div.row>div.col-md-3>ul {
  background: #000;
  border: 1px solid #ff0;
}

.region-utilities>div>div>div.row>div.col-md-6>h4,
.region-utilities>div>div>div.row>div.col-md-5>h4,
.region-utilities>div>div>div.row>div.col-md-3>h4,
.region-utilities>div.row>div.col-md-6>h4,
.region-utilities>div.row>div.col-md-5>h4,
.region-utilities>div.row>div.col-md-3>h4 {
  background: #000;
  color: #ff0;
  border: 1px solid #ff0;
}

.footer-bg {
  background: black;
}

.site_name_regional {
  color: #ff0;
}

div.footer-slider>.flex-viewport>ul>li {
  border-right: 1px solid #ff0;
  border-left: 1px solid #ff0;
}

div.footer-slider>.flex-viewport {
  border-top: 1px solid #ff0;
}

caption {
  color: #ff0;
  background: #000;
  border-top: 1px solid #ff0;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
}

caption>a {
  color: #ff0!important;
}

td>a,
td>span>a {
  color: #ff0!important;
}

td {
  background: #000;
  border: 1px solid #ff0;
}

table {
  border: 1px solid #ff0;
}

.logo a h1 {
  color: #ff0;
}

.pager li>a,
.pager li>span {
  background-color: #000;
  border: 1px solid #ff0;
}

span.highlight-circle {
  color: #ff0;
  background: #000;
  border: 2px solid #ff0;
}

#menubar {
  background-color: #000000;
}

ul.menu a.is-active,
ul.menu a:hover {
  color: #0a0a0a!important;
  background: #ff0;
  font-weight: bold;
}

th {
  border: 1px solid #ff0;
  background: #ff0;
  font-weight: bold;
  color: #000;
  padding: 10px;
}

.content {
  border: 1px solid #ff0;
}

a#increase span,
a#decrease span,
a#normal span {
  border: 1px solid #ff0;
}

a#dark span {
  border: 1px solid #ff0;
}

#topBar1 .govBranding ul li:first-child {
  border-right: 1px solid #ff0;
}


/* .view-content {
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
}

div#block-s3waas-page-title>h1 {
  border-top: 1px solid #ff0;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
} */


/* .highlighted {
  background: #000;
  border: 1px solid #ff0;
} */

#topBar1 #accessibility ul li a.change-language {
  border-right: 1px solid #ff0;
}

.menuparent>ul {
  background: #000;
  color: #ff0;
  border: 1px solid #ff0;
}


/* .footer {
  border-top: 1px solid #ff0;
} */

a#light span {
  background: #ff0;
  border: 1px solid #ff0;
}

.views-view-grid>.views-row>.views-col>article {
  background: #000;
  border: 1px solid #ff0;
}

.region.region-sidebar-left,
.region.region-center {
  border: 1px solid #ff0;
  background: #000;
  color: #ff0;
}

.thumbnail {
  background: #000;
  color: #ff0;
  border: 1px solid #ff0;
}

.caption>h3,
.caption>p {
  color: #ff0;
  background: #000;
}

.flex-viewport {
  border-bottom: 1px solid #ff0;
}

.flex-direction-nav a:before,
.flex-pauseplay,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  text-shadow: -1px -1px 2px #f4ff5a !important;
  color: #fff400!important;
}

#main-wrapper>#main-content>main>section>.region.region-content>article {
  background: #000!important;
  color: #ff0!important;
  border: 1px solid #ff0!important;
}
