/**
 * @file
 * Overall specifications for S3WaaS.
 */

html {
  height: 100%!important;
}

body {
  min-height: 100%;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
  line-height: 1.5;
  height: 100% !important;
}

h2:empty {
  display: none;
}

.demo-block {
  text-align: center;
}

.flex-direction-nav a:before,
.flex-pauseplay,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  text-shadow: -1px -1px 2px #424242 !important;
  color: #fff!important;
}

table {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 27px;
}

caption {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  background: #6275dc;
  padding: 8px;
  border-top-left-radius: 10px;
  color: black!important;
  border-top-right-radius: 10px;
  border-top: 1px solid #366d98;
  border-left: 1px solid #366d98;
  border-right: 1px solid #366d98;
}

th {
  padding: 10px!important;
  border: 1px solid;
  font-size: 16px;
  background: #c2c2c2;
}

td {
  padding: 6px!important;
  border: 1px solid;
  font-size: 14px;
  background: #f2f2f2;
}

.view-download-forms>div>table>tbody>tr>td:first-child {
  width: 60%;
}

caption>a {
  color: #fff!important;
}

td>a,
td>span>a {
  color: black!important;
}

img.image-style-map,
.field--name-field-logo>img,
.image-style-large {
  width: 100%;
  height: auto!important;
}

.view-download-forms>div>table>caption::before {
  font-family: "Font Awesome 5 Free";
  content: "ï‡";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 900;
  color: white;
}


/* .node__content>div>p:first-of-type:first-child::first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 60px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
} */

.node__content>div>p {
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}

#block-views-block-whats-new-block-1>h2,
#block-fromdmsdesk>h2 {
  margin-top: 10px;
  font-weight: bold;
  /* font-family: cursive; */
  font-size: 25px;
  text-decoration: underline;
}

.region-sidebar-left .block-views,
.region-sidebar-left .s3waas-col-block,
.region-sidebar-right .block-views,
.region-sidebar-right .s3waas-col-block,
.region-center .block-views,
.region-center .s3waas-col-block {
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #999;
  margin: 0px;
  text-align: justify;
}

.region-sidebar-left .block:not(:last-child),
.region-sidebar-right .block:not(:last-child),
.region-center .block:not(:last-child) {
  margin-bottom: 20px;
}

.region-sidebar-left .thumbnail,
.region-sidebar-right .thumbnail,
.region-center .thumbnail {
  margin-bottom: 0px;
}

.region-sidebar-left,
.region-center,
.region-sidebar-right {
  margin: 15px 0px 0px 0px;
}

#block-views-block-whats-new-block-1>div>div>div>div {
  padding-left: 0px!important;
}

#block-views-block-whats-new-block-1>div>div>div>div>div:first-child::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}


/* #page>.container {
  margin-top: 25px;
} */

.views-view-grid>.views-row>.views-col>article {
  background: #fff;
  margin: 10px;
  border: 1px solid #e2e2e2;
  padding: 10px;
  border-radius: 5px;
  min-height: 150px;
}

.views-view-grid>.views-row>.views-col>article>h2 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 11px;
  vertical-align: baseline;
}

.views-view-grid>.views-row>.views-col>article>footer {
  font-size: 12px;
}

.views-view-grid>.views-row>.views-col>article>.node__content {
  font-size: 12px;
  text-align: right;
}

.views-view-grid>.views-row {
  padding-left: 0px;
  padding-right: 0px;
}

#page>.layout-main-wrapper>.layout-main {
  padding-left: 0px!important;
  padding-left: 0px!important;
}

#main-wrapper>#main-content>main>section>.region.region-content>article.node.node--type-notice.node--promoted.node--view-mode-full {
  background: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.field.field--label-above>.field__label,
.field.field--label-above>.field__item {
  display: inline;
}

.field.field--label-above {
  padding-bottom: 5px;
}


/*Footer Slider*/

div.footer-slider>.flex-viewport {
  /* background: #f2f2f2; */
  padding-top: 5px;
}

div.footer-slider>.flex-viewport>ul>li {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #d6d1d1;
  border-left: 1px solid #d6d1d1;
}


/* frontpage view coloumn mobile responsive*/


/*
.views-col {
  width: 25%;
}

@media only screen and (max-width: 480px) {
  .views-col {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 991px) {
  .views-col {
    width: 50%;
  }
} */

.views-field>span.views-label,
.views-field>.field-content {
  display: inline;
}

.breadcrumb {
  background-color: transparent!important;
}

div#main-content {
  margin: 0px;
  padding: 0px!important;
}

.views-row {
  padding-bottom: 0px!important;
}

.views-col>.views-field>.field-content>img {
  width: 100%;
  padding: 5px;
  background: #fff;
  border: 1px solid #c2c2c2;
}

img.image-style-album-photo {
  width: 100%;
}


/* article {
  margin-left: 10px;
  margin-right: 10px;
} */

.node--type-notice {
  background: #fff;
  padding: 10px;
  /* border: 1px solid #e4e1e1; */
  border-radius: 5px;
  margin: 0px;
}

@media only screen and (max-width: 991px) {
  .region.region-sidebar-left,
  .region.region-center {
    margin-bottom: 15px;
  }
}

.table-scroll {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.table-wrap {
  width: 100%;
  overflow: auto;
}

.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #000;
  background: #fff;
  white-space: nowrap;
  vertical-align: top;
}

.table-scroll thead,
.table-scroll tfoot {
  background: #f9f9f9;
}

.grid-content-view>div {
  background: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  /* min-height: 20px; */
}

.grid-content-view {
  margin-bottom: 10px;
  /* background: red; */
  min-height: 70px;
}

.grid-content-view>div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  border-top: 1px solid #e3e3e3;
  /* min-height: 60px; */
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

.grid-content-view>div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
}

.search-results {
  list-style: none;
  padding-left: 0px;
}

.search-results>li {
  background: #fff;
  border: none;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  outline: none;
  box-shadow: 0 0 7px #999;
}

.search-results>li>h3 {
  margin-top: 10px;
}

.search-results>li>h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 900;
  color: #067dbb;
}

.item-list li {
  margin: 0 0 10px 0px!important;
  padding: 10px!important;
}

.grid-content-view>.views-field>.views-label {
  font-weight: bold;
}


/*--------------------PADDING----------------------*/

.padding-1 {
  padding: .25rem;
}

.padding-2 {
  padding: .5rem;
}

.padding-3 {
  padding: 1rem;
}

.padding-4 {
  padding: 1.25rem;
}

.padding-5 {
  padding: 1.75rem;
}

.padding-10 {
  padding: 5rem;
}


/*--------------------MIN HEIGHT-------------------*/

.minh-1 {
  min-height: 3rem;
}

.minh-2 {
  min-height: 6rem;
}

.minh-3 {
  min-height: 9rem;
}

.minh-4 {
  min-height: 12rem;
}

.minh-5 {
  min-height: 15rem;
}

@media only screen and (max-width: 640px) {
  .view-download-forms>div>table>tbody>tr>td:first-child {
    width: 100%;
    /* font-weight: bold; */
  }
}


/* overwrite responsive table */

.tablesaw caption {
  margin-bottom: 0px;
}
