/**
 * @file
 * Overall specifications for S3WaaS.
 */

html {
  height: 100%!important;
}

body {
  min-height: 100%;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
  line-height: 1.5;
  height: 100% !important;
}

h2:empty {
  display: none;
}

.demo-block {
  text-align: center;
}

.flex-direction-nav a:before,
.flex-pauseplay,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  text-shadow: -1px -1px 2px #424242 !important;
  color: #fff!important;
}

table {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 27px;
}

caption {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  background: #6275dc;
  padding: 8px;
  border-top-left-radius: 10px;
  color: black!important;
  border-top-right-radius: 10px;
  border-top: 1px solid #366d98;
  border-left: 1px solid #366d98;
  border-right: 1px solid #366d98;
}

th {
  padding: 10px!important;
  border: 1px solid;
  font-size: 16px;
  background: #c2c2c2;
}

td {
  padding: 6px!important;
  border: 1px solid;
  font-size: 14px;
  background: #f2f2f2;
}

.view-download-forms>div>table>tbody>tr>td:first-child {
  width: 60%;
}

caption>a {
  color: #fff!important;
}

td>a,
td>span>a {
  color: black!important;
}

img.image-style-map {
  width: 100%;
  height: auto!important;
}

.view-download-forms>div>table>caption::before {
  font-family: "Font Awesome 5 Free";
  content: "ï‡";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 900;
  color: white;
}

.node__content>div>p:first-of-type:first-child::first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 60px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.node__content>div>p {
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}

#block-views-block-whats-new-block-1>h2,
#block-fromdmsdesk>h2 {
  margin-top: 10px;
  font-weight: bold;
  font-family: cursive;
  font-size: 25px;
  text-decoration: underline;
}

.region.region-sidebar-left,
.region.region-center {
  border: 1px solid #e2e2e2;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  border-radius: 3px;
  margin: 0px;
  text-align: justify;
}

#block-views-block-whats-new-block-1>div>div>div>div {
  padding-left: 0px!important;
}

#block-views-block-whats-new-block-1>div>div>div>div>div:first-child::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

#page>.container {
  margin-top: 25px;
}

.view-frontpage>.view-content>.views-view-grid>.views-row>.views-col>article.node.node--type-notice.node--promoted.node--view-mode-teaser {
  background: #fff;
  margin: 10px;
  border: 1px solid #e2e2e2;
  padding: 10px;
  border-radius: 5px;
  min-height: 150px;
}

.view-frontpage>.view-content>.views-view-grid>.views-row>.views-col>article.node.node--type-notice.node--promoted.node--view-mode-teaser>h2 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 11px;
  vertical-align: baseline;
}

.view-frontpage>.view-content>.views-view-grid>.views-row>.views-col>article.node.node--type-notice.node--promoted.node--view-mode-teaser>footer {
  font-size: 12px;
}

.view-frontpage>.view-content>.views-view-grid>.views-row>.views-col>article.node.node--type-notice.node--promoted.node--view-mode-teaser>.node__content {
  font-size: 12px;
  text-align: right;
}

.view-frontpage>.view-content>.views-view-grid>.views-row {
  padding-left: 0px;
  padding-right: 0px;
}

#page>.layout-main-wrapper>.layout-main {
  padding-left: 0px!important;
  padding-left: 0px!important;
}

#main-wrapper>#main-content>main>section>.region.region-content>article.node.node--type-notice.node--promoted.node--view-mode-full {
  background: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.field.field--label-above>.field__label,
.field.field--label-above>.field__item {
  display: inline;
}

.field.field--label-above {
  padding-bottom: 5px;
}
