/**
 * @file
 * Overall specifications for S3WaaS.
 */

html {
  height: 100%!important;
}

body {
  min-height: 100%;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
  line-height: 1.5;
  height: 100% !important;
}

h2:empty {
  display: none;
}

.demo-block {
  text-align: center;
}

.flex-direction-nav a:before,
.flex-pauseplay,
.full-cntrl-left-caption-bottom.nav-white .flex-direction-nav a:before,
.full-cntrl-left-caption-bottom.nav-white .flex-pauseplay a:before {
  text-shadow: -1px -1px 2px #424242 !important;
  color: #fff!important;
}

table {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 27px;
}

caption {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  background: #6275dc;
  padding: 8px;
  border-top-left-radius: 10px;
  color: black!important;
  border-top-right-radius: 10px;
  border-top: 1px solid #366d98;
  border-left: 1px solid #366d98;
  border-right: 1px solid #366d98;
}

th {
  padding: 10px!important;
  border: 1px solid;
  font-size: 16px;
  background: #c2c2c2;
}

td {
  padding: 6px!important;
  border: 1px solid;
  font-size: 14px;
  background: #f2f2f2;
}

td:first-child {
  width: 60%;
}

caption>a {
  color: #fff!important;
}

td>a,
td>span>a {
  color: black!important;
}

img.image-style-map {
  width: 100%;
  height: auto!important;
}