form#user-login-form,
form#user-register-form,
form#user-pass {
  padding: 20px;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  background-color: #2196f3;
  box-shadow: 0 0 7px #999;
  outline: none;
}

input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

input[type=submit] {
  /* min-width: 150px; */
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

input[type=submit]:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

input[type=submit]:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
  padding: 12px 18px;
}

input:active {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.form-submit {
  font-size: 15px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

ul.tabs {
  margin: 0 0 0;
  padding: 0;
  list-style: none;
}

ul.tabs.primary {
  padding: 5px;
  border-radius: 5px;
  border: none;
  padding: 12px 18px;
  box-shadow: 0 0 4px #999;
  outline: none;
}

.tabs>li>a:hover {
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}

.tabs>li>a {
  margin-right: 5px;
}

.tabs {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  input {
    width: 100%;
  }
}

.tabs ul.primary li.is-active a {
  border-radius: 5px;
  margin-right: 5px;
}


/* nav.tabs {
  width: 80%;
  margin: auto;
} */


/*
form#user-login-form,
form#user-register-form,
form#user-pass {
  width: 80%;
  margin: auto;
} */

form#contact-message-feedback-form {
  width: 60%;
}


/* Search Form */

div#block-searchform {
  text-align: center;
}

div#block-searchform>form#search-block-form {
  width: 40%;
  padding: 10px;
  background: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin-left: 50%;
  position: absolute;
  z-index: 999;
  display: none;
}

div#block-searchform>form#search-block-form>div>input#edit-keys {
  height: 40px;
  width: 70%;
}

div#block-searchform>form#search-block-form>div>input#edit-submit {
  height: 40px;
  width: 10%;
  top: -1px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  input#edit-keys {
    height: 40px;
    width: 50%!important;
  }
  #edit-submit--2 {
    height: 40px;
    width: 5%!important;
  }
  div#block-searchform>form#search-block-form {
    width: 100%;
    margin: auto;
  }
}

#edit-submit {
  padding: 0px!important;
  height: auto;
  content: "Sumanta";
}

#edit-submit::after {
  content: 'sumananana';
  background: red;
  width: 10px;
}
