::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  }

  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px dodgerblue;
  border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
  border-radius: 5px;;
  background: dodgerblue;
  box-shadow: inset 0 0 6px dodgerblue;
  }

  ::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
  }



body{
  background: #f6f8e2;
  background:url(../images/text.png) repeat;
  font-family: Arial;
}


.icon-ngo-2:before {
  font-size: 35px;

}

span.list-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 15px;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-bottom: 2px solid black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 260px;
  max-height: 260px;
  overflow-y: scroll;

}

.tab>.tablinks{
    font-weight: bold;
    text-transform: uppercase;
}


#cssmenu ul{
  z-index: 999;
}


.vc_custom_1499428996867{padding-top: 20px !important;}
.vc_custom_1499927004251{padding-top: 25px !important;}
.vc_custom_1499927724038{
  margin-top: 25px !important;
  padding-bottom: 15px !important;
  background-color: #e1e1e1 !important;
}

.vc_custom_1516263996570{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.vc_custom_1499927042202{
  margin-top: 25px !important;
}


.site_name_english{
  font-weight:bold!important;
  font-size:30px!important;
  font-family: 'Times New Roman', Times, serif!important;
}


.about_district_home{
min-height: 315px;
border: 1px solid #e1e1e1;
}


.dm-image{
  height: auto;
  width: 100%;
  display: block;
}


.version_site{
  color: #c2c2c2!important;
}


