<div class="row">
  <div class="col-sm-12 p-0">
    <div class="home-slider full-cntrl-left-caption-bottom nav-white flexslider main-banner-three">
      <ul class="slides">
        <li>
          <img alt='banner1' src='/{{ directory }}/images/slider/1.jpg'/>
          <div class="container p-0">
            <div class="slide-caption pl-0">
              <p class="heading3">Slide 1 Caption</p>
              <p>Slide 1 Description</p>
            </div>
          </div>
        </li>
        <li>
          <img alt='banner1' src='/{{ directory }}/images/slider/2.jpg'/>
          <div class="container p-0">
            <div class="slide-caption pl-0">
              <p class="heading3">Malda District</p>
              <p>Description</p>
            </div>
          </div>
        </li>
        <li>
          <img alt='banner1' src='/{{ directory }}/images/slider/3.jpg'/>
          <div class="container p-0">
            <div class="slide-caption pl-0">
              <p class="heading3">Slide 3 Caption</p>
              <p>Slide 3 Description</p>
            </div>
          </div>
        </li>
        <li>
          <img alt='banner1' src='/{{ directory }}/images/slider/4.jpg'/>
          <div class="container p-0">
            <div class="slide-caption pl-0">
              <p class="heading3">Slide 4 Caption</p>
              <p>Slide 4 Description</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
