<div class="row p-5 text-center">
  <div class="col-sm-2">
    <div class="list-text">Area: 3733 Sq Km</div>
  </div>

  <div class="col-sm-2">
    <div class="list-text">Population: 3,988,845</div>
  </div>

  <div class="col-sm-2">
    <div class="list-text">
      <span>Blocks:</span>
      <a href="/blocks">15</a>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="list-text">
      <span>GPs:</span>
      <a href="/gram-panchayats">146</a>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="list-text">
      <span>Villages: </span>
      <a href="/villages">3701</a>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="list-text">
      <span>Police Stations:</span>
      <a href="/police-stations">15</a>
    </div>
  </div>
</div>
