<div class="row p-5 text-center">
  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-chart-area"></i></span></div>
    <div class="list-text">Area: 3733 Sq Km</div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-users"></i></span></div>
    <div class="list-text">Population: 39,88,845</div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-th"></i></span></div>
    <div class="list-text">
      <span>Blocks:
        <a href="/blocks">15</a>
      </span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-th-list"></i></span></div>
    <div class="list-text">
      <span>GPs:
        <a href="/gram-panchayats">146</a>
      </span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-home"></i></span></div>
    <div class="list-text">
      <span>Villages:
        <a href="/villages">3701</a>
      </span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-car"></i></span></div>
    <div class="list-text">
      <span>Police Stations:
        <a href="/police-stations">15</a>
      </span>
    </div>
  </div>
</div>
