<div class="row p-5">
  <div class="col-md-6">
    <h4>Public Utilities</h4>
    <div class="row">
      <div class="col-md-5 public_utils">
        <span class="public_util_name">High Schools</span>
        <span class="counter bg-primary pull-right p-2 w-25">
          <a href="/high-schools">--</a>
        </span>
      </div>
      <div class="col-md-5 public_utils col-md-offset-1">
        <span class="public_util_name">Primary Schools</span>
        <span class="counter bg-warning pull-right p-2 w-25">
          <a href="/primary-schools">1888</a>
        </span>
      </div>
      <div class="col-md-5 public_utils">
        <span class="public_util_name">Colleges</span>
        <span class="counter bg-danger pull-right p-2 w-25">
          <a href="/colleges">--</a>
        </span>
      </div>
      <div class="col-md-5 public_utils col-md-offset-1">
        <span class="public_util_name">Govt. Hospitals</span>
        <span class="counter bg-success pull-right p-2 w-25">
          <a href="/govt-hospitals">2</a>
        </span>
      </div>
      <div class="col-md-5 public_utils">
        <span class="public_util_name">Pvt. Hospitals/Nursing Homes</span>
        <span class="counter bg-primary pull-right p-2 w-25">
          <a href="/private-hospitals">--</a>
        </span>
      </div>
      <div class="col-md-5 public_utils">
        <span class="public_util_name">Railway Stations</span>
        <span class="counter bg-success pull-right p-2 w-25">
          <a href="/railway-stations">12</a>
        </span>
      </div>
      <div class="col-md-5 public_utils">
        <span class="public_util_name">Airports</span>
        <span class="counter bg-warning pull-right p-2 w-25">
          <a href="/airports">1</a>
        </span>
      </div>
      <div class="col-md-5 public_utils">
        <span class="public_util_name">Cold Storage</span>
        <span class="counter bg-success pull-right p-2 w-25">
          <a href="/airports">5</a>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-3 quick-links">
    <h4>Quick Links</h4>
    <ul>
      <li>
        <a href="https://maldaeoffice.wb.gov.in/">E Office</a>
      </li>
      <li>
        <a href="/apps">Public Grievance</a>
        <ul>
          <li><a href="/apps/grievance">Lodge Your Grievance</a></li>
          <li><a href="/apps/grievance_status">Check Grievance Status</a></li>
        </ul>
      </li>
      <li>
        <a href="/apps">SDO Court</a>
        <ul>
          <li><a href="/apps/todays_hearing">Today's Hearing</a></li>
          <li><a href="/apps/search_case">Check Your Case Status</a></li>
        </ul>
      </li>
      <li>
        <a href="https://wb.gov.in/">State Portal</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Helpline Number</h4>
    <div class="row">
      <div class="col-md-5 helpline-number">
        <div class="head">Emergency Helpline</div>
        <div class="number">112</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">Police</div>
        <div class="number">100</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">Childline</div>
        <div class="number">1098</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">Women Helpline</div>
        <div class="number">1091</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">Voters Helpline</div>
        <div class="number">1950</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">Electricity</div>
        <div class="number">19121</div>
      </div>
    </div>
  </div>
</div>
