
<div class="row p-5">
  <div class="col-sm-5">
    <h4>Public Utilities</h4>

    <div class="row">
      <div class="col-sm-5 public_utils">
        <span class="public_util_name">High Schools</span>
        <span class="counter bg-primary pull-right p-2 w-25">
          <a href="/high-schools">5</a>
        </span>
      </div>

      <div class="col-sm-5 public_utils">
        <span class="public_util_name">Primary Schools</span>
        <span class="counter bg-warning pull-right p-2 w-25">
          <a href="/primary-schools">1888</a>
        </span>
      </div>

      <div class="col-sm-5 public_utils">
        <span class="public_util_name">Colleges</span>
        <span class="counter bg-danger pull-right p-2 w-25">
        <a href="/colleges">8</a>
        </span>
      </div>

      <div class="col-sm-5 public_utils">
        <span class="public_util_name">Hospitals</span>
        <span class="counter bg-success pull-right p-2 w-25">
          <a href="/hospitals">11</a>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-3 quick-links">
    <h4>Quick Links</h4>
    <ul>
      <li><a href="https://maldaeoffice.wb.gov.in/">E Office</a></li>
      <li><a href="apps">Public Grievance</a>
        <ul>
          <li><a href="">Submit Grievance</a></li>
          <li><a href="">Search Grievance</a></li>
        </ul>
      </li>
      <li><a href="https://wb.gov.in/">State Portal</a></li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h4>Helpline Number</h4>

    <div class="row">
      <div class="col-sm-5 helpline-number">
        <div class="head">Emergency Helpline</div>
        <div class="number">112</div>
      </div>

      <div class="col-sm-5 helpline-number">
        <div class="head">Childline</div>
        <div class="number">1098</div>
      </div>

      <div class="col-sm-5 helpline-number">
        <div class="head">Women Helpline</div>
        <div class="number">1091</div>
      </div>

      <div class="col-sm-5 helpline-number">
        <div class="head">Voters Helpline</div>
        <div class="number">1950</div>
      </div>
    </div>
  </div>
</div>
