/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #ffffff;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  border-bottom-color: #fff;
  background-color: #fff;
}

#topbar {
  background-color: #000;
}

#menubar {
  background-color: #333;
}

#header {
  background-color: #fff;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}

a:active,
.link:active {
  color: #23aeff;
}

.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}

.footer {
  background: #000;
}

#topbar {
  background: #000000;
}

.color-black {
  color: #000000;
}

.color-muted {
  color: rgba(0, 0, 0, 0.5);
}

.color-muted-inverse {
  color: rgba(255, 255, 255, 0.5);
}

.color-error {
  color: red;
}

.color-info {
  color: #3f4db8;
}

.color-success {
  color: #2ac171;
}

.color-white {
  color: #ffffff;
}

.color-gov {
  color: #f26522;
}

.bg-blue {
  background-color: #0686c8;
}

.bg-grey {
  background-color: #c8c8c8;
}

.bg-grey-light {
  background-color: #e1e1e1;
}

.bg-blue-dark {
  background-color: #e1e1e1;
  border-radius: 0 !important;
}

.bg-black {
  background-color: #222;
}

.bg-white {
  background-color: #ffffff;
}

.bg-muted {
  background-color: rgba(0, 0, 0, 0.15);
}

.bg-muted-inverse {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-error {
  background-color: red;
}

.bg-info {
  background-color: #3f42f6;
}

.bg-success {
  background-color: green;
}

.bg-gov {
  background-color: #f26522;
}

.text-light {
  color: #ffffff;
}

#topBar1 {
  background: #000000;
}

#topBar1 .govBranding ul li a {
  color: #ffffff;
}

#topBar1 #accessibility ul li a {
  color: #ffffff;
}

#topBar1 #accessibility ul li a:hover,
#topBar1 #accessibility ul li a:focus {
  background: #000000;
  color: #ffffff;
}

#topBar1 #accessibility ul li.highContrast.dark a {
  background: #333333;
  color: #fff;
}

#topBar1 #accessibility ul li .textSizing ul li a {
  border: 1px solid #e1e1e1;
}

#topBar1 #accessibility ul li select {
  background: #ffffff;
}

#topBar1 #accessibility ul li .goiSearch input[type=text],
#topBar1 #accessibility ul li .goiSearch input[type=search] {
  border: 1px solid #d8d8d8;
}

#topBar1 #accessibility ul li .goiSearch button {
  background: #d8d8d8;
}

#topBar1 #accessibility ul li .socialIcons {
  border: 1px solid #d8d8d8;
}

#topBar1 #accessibility ul li .socialIcons ul li a:hover,
#topBar1 #accessibility ul li .socialIcons ul li a:focus {
  background: #d8d8d8;
}

.contrast #overflowMenu {
  background: #000;
}

span.theme-version,
span.last-update,
span.visitor-count {
  color: #fff!important;
}
