/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #ffffff;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  border-bottom-color: #fff;
  background-color: #fff;
}

#topbar {
  background-color: #000;
}

#menubar {
  background-color: #333;
}

#header {
  background-color: #fff;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}

a:active,
.link:active {
  color: #23aeff;
}

.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}

.footer {
  background: #000;
}

#topbar {
    background: #000000;
}
