/* ---------- Color Module Styles ----------- */


/* body {
  color: #3b3b3b;
  background: #ffffff;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
} */

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  border-bottom-color: #fff;
  background-color: #f2f2f2;
}

#topbar {
  background-color: #000;
}

#menubar {
  background-color: #424242;
}


/* #header {
  background-color: #fff;
} */

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}

a:active,
.link:active {
  color: #23aeff;
}

.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}

.footer {
  background: #000;
}

#topbar {
  background: #000000;
}

.color-black {
  color: #000000;
}

.color-muted {
  color: rgba(0, 0, 0, 0.5);
}

.color-muted-inverse {
  color: rgba(255, 255, 255, 0.5);
}

.color-error {
  color: red;
}

.color-info {
  color: #3f4db8;
}

.color-success {
  color: #2ac171;
}

.color-white {
  color: #ffffff;
}

.color-gov {
  color: #f26522;
}

.bg-blue {
  background-color: #0686c8;
}

.bg-grey {
  background-color: #c8c8c8;
}

.bg-grey-light {
  background-color: #e1e1e1;
}

.bg-blue-dark {
  background-color: #e1e1e1;
  border-radius: 0 !important;
}

.bg-black {
  background-color: #222;
}

.bg-white {
  background-color: #ffffff;
}

.bg-muted {
  background-color: rgba(0, 0, 0, 0.15);
}

.bg-muted-inverse {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-error {
  background-color: red;
}

.bg-info {
  background-color: #3f42f6;
}

.bg-success {
  background-color: green;
}

.bg-gov {
  background-color: #f26522;
}

.text-light {
  color: #ffffff;
}

#topBar1 {
  background: #000000;
}

#topBar1 .govBranding ul li a {
  color: #ffffff;
}

#topBar1 #accessibility ul li a {
  color: #ffffff;
}

#topBar1 #accessibility ul li a:hover,
#topBar1 #accessibility ul li a:focus {
  background: #000000;
  color: #ffffff;
}


/*
#topBar1 #accessibility ul li.highContrast.dark a {
  background: #333333;
  color: #fff;
} */

#topBar1 #accessibility ul li .textSizing ul li a {
  border: 1px solid #e1e1e1;
}

#topBar1 #accessibility ul li select {
  background: #ffffff;
}

#topBar1 #accessibility ul li .goiSearch input[type=text],
#topBar1 #accessibility ul li .goiSearch input[type=search] {
  border: 1px solid #d8d8d8;
}

#topBar1 #accessibility ul li .goiSearch button {
  background: #d8d8d8;
}

#topBar1 #accessibility ul li .socialIcons {
  border: 1px solid #d8d8d8;
}

#topBar1 #accessibility ul li .socialIcons ul li a:hover,
#topBar1 #accessibility ul li .socialIcons ul li a:focus {
  background: #d8d8d8;
}

.contrast #overflowMenu {
  background: #000;
}

span.theme-version,
span.last-update,
span.visitor-count {
  color: #fff;
}

#cssmenu>ul>li>a.is-active {
  color: black;
}

#cssmenu>ul>li>a.is-active {
  background: #fdfdfd66;
}

.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fdfdfd66;
}

#page,
body {
  background-image: url(../images/texture.png)!important;
  /* background: blue; */
}


/*
body {
  color: #333;
  background-color: #aa0505!important;
} */

form#user-login-form,
form#user-register-form,
form#user-pass {
  background: white;
  border: 1px solid #d8d3d3;
}

input {
  border: 1px solid #c3c3c3;
}

input:active {
  border: 1px solid #c3c3c3;
}

.form-submit {
  background: green;
  color: white;
}

ul.tabs.primary {
  background: white;
  border: 1px solid #c3c3c3;
}

.tabs>li {
  border-right: 2px solid #c3c3c3;
}

.sf-depth-1,
.sf-depth-2,
.sf-depth-3,
.sf-depth-4,
.sf-depth-5,
.sf-depth-6,
.sf-depth-7,
.sf-depth-8,
.sf-depth-9,
.sf-depth-10,
.sf-depth-11,
.sf-depth-12,
.sf-depth-13,
.sf-depth-14 {
  color: #fff;
}

.sf-depth-1>a:hover,
.sf-depth-2>a:hover,
.sf-depth-3>a:hover,
.sf-depth-4>a:hover,
.sf-depth-5>a:hover,
.sf-depth-6>a:hover,
.sf-depth-7>a:hover,
.sf-depth-8>a:hover,
.sf-depth-9>a:hover,
.sf-depth-10>a:hover,
.sf-depth-11>a:hover,
.sf-depth-12>a:hover,
.sf-depth-13>a:hover,
.sf-depth-14>a:hover {
  color: #e2e2e2;
  text-decoration: none;
  background: #3c7d14;
}

.sf-depth-1>a:active,
.sf-depth-2>a:active,
.sf-depth-3>a:active,
.sf-depth-4>a:active,
.sf-depth-5>a:active,
.sf-depth-6>a:active,
.sf-depth-7>a:active,
.sf-depth-8>a:active,
.sf-depth-9>a:active,
.sf-depth-10>a:active,
.sf-depth-11>a:active,
.sf-depth-12>a:active,
.sf-depth-13>a:active,
.sf-depth-14>a:active {
  color: #e2e2e2;
  text-decoration: none;
  background: #3c7d14;
}

.menuparent>ul {
  background: #424242;
  color: #fff;
  top: inherit!important;
}

ul.menu a.is-active {
  color: #fff;
  background: #3c7d14;
  ;
}


/*
.sf-accordion-toggle.sf-style-none {
  background: darkgreen;
}

#block-useraccountmenu>.sf-accordion-toggle.sf-style-none {
  padding: 10px;
  background: #3f51b5;
} */
