/**
 * @file
 * S3WaaS layout styling.
 */


/**
 * Container
 */

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.dialog-off-canvas-main-canvas {
  height: 100% !important;
}

#page {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  /* negative value of footer height */
  /* min-height: 150px; */
  clear: both;
  padding-top: 20px;
}

.howrah-bridge {
  margin-top: auto !important;
  width: 100% !important;
}

.footer-bg {
  height: auto !important;
  width: 100%;
}

.bottom-image {
  padding: 0px!important;
}

.scrollToTop {
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: none;
  font-size: 40px;
  background: #ff9800;
  color: #ebebeb;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  z-index: 999;
}
