/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}

body {
  width: 640px;
}

.navigation,
#toolbar,
.footer,
.tabs,
.shortcut-action {
  display: none;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment-forbidden {
  display: none;
}
